$background-color: white;
$secondary-color: rgb(250, 250, 250);
$text-color: black;
$accent-color:rgb(227, 242, 255);
$about-color:#daf2e7;
$border: lightgrey 0.1px solid;
$navheight: 10vh;
$title-font: 20px;
@mixin font {
  font-family: 'Open Sans Condensed', sans-serif;
}
