$background-color: white;
$text-color: black;
$accent-color:rgb(227, 242, 255);
$about-color:#daf2e7;
$border: lightgrey 0.1px solid;
$navheight: 10vh;
@mixin font {
  font-family: 'Open Sans Condensed', sans-serif;
}
