@import "../../../sass/vars";


.product-page{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.placeholder{
    height: 10vh;
    background-color: $accent-color;
    
}
.product-photo-container{
    background-color: $accent-color;
    height: 40vh;
    width: 90vw;
}
.post-results{
    // border: red .1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.post-result{
    border: $border;
    height: 180px;
    width: 140px;
    background-color: $accent-color;
    margin: 10px;
}