@import '../../../sass/vars';

.register-page {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-info{
  margin-top: 30px;
  background-image: url("./LogoOption1.png");
  background-size: cover;
  background-position: center;
  width: 170px;
  height: 170px;
}
#register-p{
  font-size: 20px;
}
.register-form {
  background-color: $secondary-color;
  height: 50vh;
  width: 75vw;
  border: $border;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}
.label-container{
  // background-color: yellow;
  width: 70%;
  text-align: left;
  padding-bottom: 2px;
}
input {
  @include font;
  width: 70%;
  background-color: $accent-color;
  border: $border;
}

.complete-registration {
  @include font;
  background-color: white;
  margin-top: 15px;
}

.error {
  color: red;
  font-size: 12px;
}

.inputError {
  border-color: red;
}
