@import '../../../sass/vars';
.search-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-container {
  border: $border;
  margin: 10px 0;
  width: 90vw;
  button {
    @include font;
  }
}
.category-container,
.brand-container {
  // border: red 1px solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
  padding-bottom: 10px;
}
.checkBox {
  width: 20px;
}
// for .search-results-container we might want to adjust the height depending on how many search results we want to show on one page

.search-results-container {
  width: 90vw;
  border: $border;
  padding-bottom: 10px;
}
.search-results {
  // border: red .1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
