.label-container-add-product{
    // background-color: yellow;
    margin-top: 5px;
    margin-left: 31px;
    width: 60%;
    text-align: left;
    padding-bottom: 2px;
  }
  .label-container-selectors{
    margin-top: 5px;
    // margin-left: px;
    width: 60%;
    text-align: left;
    padding-bottom: 2px;
  }
